.x3d-root {
  width: 100%;
  height: 100%;
}

.health {
  position: fixed;
  top: 0;
  background: white;
  z-index: 9999;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
}

.gameOver {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999;
  place-items: center;
  font-size: 36px;
  font-weight: bold;
}

.gameOver[data-visible="true"] {
  display: grid;
  font-family: sans-serif;
}
